*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: white;
}

#nav{
    height: 100px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}

#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav h3{
    font-size: 17px;
    border: 1.5px solid black;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
}

#nav i{
    font-size: 17px;
    border: 1.5px solid black;
    font-weight: 500;
    padding: 5px 8px;
    border-radius: 50px;
}

#nav h1{
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
}

#nav button{
    padding: 7px 12px;
    border-radius: 50px;
    border: 1.5px solid black;
    font-size: 16px;
    font-weight: 600;
}

#btn1{
    background-color: white;
}


#btn2{
    border: none;
    background-color: orangered;
    color: white;
}

#main>h1{
    font-size: 160px;
    text-transform: uppercase;
    color: black;
    width: 100%;
    margin-top: 200px;
    padding-left: 100px;
    text-align: center;
}

img{
    height: 350px;
    width: 270px;
    object-fit: cover;
    position: absolute;
    border-radius: 20px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#img1{
    rotate: -15deg;
}

#img2{
    rotate: 10deg;
}

#img3{
    rotate: -5deg;
}

.pic{
    margin-left: 70px;
    align-items: center;
}

#btm-left{
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 20px;
}
